In [7]:
import pandas as pd
import numpy as np

In [11]:
np.random.randn(4,5)

array([[-1.81986384,  1.76736774, -0.33042178,  2.08166067, -0.35260573],
       [ 1.39224707, -1.73758012,  0.22897552, -1.24718062, -0.85931833],
       [-0.59161302,  0.00963517, -0.98095801, -1.7872598 ,  1.21619389],
       [ 1.05937917, -1.7114285 , -0.20361289,  1.09061927, -0.89424679]])

In [47]:
df = pd.DataFrame(np.random.randn(4,5),index = ['a','b','c','d'] , columns=['a','b','c','d','e'])

In [49]:
df

          a         b         c         d         e
a -0.038482  0.947599  0.173447 -0.473433 -0.565052
b -0.184716  0.304639 -2.188643  0.384302  1.789312
c -0.318490  0.035925 -1.263465  0.450886 -1.023521
d  2.004170 -1.425124 -1.546094 -0.540959 -0.614197

In [51]:
df.columns

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [53]:
type(df.columns)

pandas.core.indexes.base.Index

In [33]:
df.iloc[:, :]

          0         1         2         3         4
0 -1.690887 -0.145196 -0.758355 -1.428258  1.224748
1  0.882643 -0.146566  1.526125 -0.728101 -1.360116
2 -0.289001  2.261476  2.306897  1.039228 -0.344568
3  0.858073  0.498915 -0.697287  0.885008 -1.379787

In [55]:
for i in df.columns:
    print(i)

a
b
c
d
e

In [57]:
for j in df.values:
    print(j)

[-0.03848195  0.94759893  0.17344732 -0.47343318 -0.56505198]
[-0.18471608  0.30463863 -2.18864285  0.3843017   1.7893117 ]
[-0.31848986  0.03592493 -1.26346452  0.450886   -1.02352072]
[ 2.00416964 -1.42512397 -1.54609445 -0.54095904 -0.61419718]

In [59]:
df.iloc[[0,1,3]]

          a         b         c         d         e
a -0.038482  0.947599  0.173447 -0.473433 -0.565052
b -0.184716  0.304639 -2.188643  0.384302  1.789312
d  2.004170 -1.425124 -1.546094 -0.540959 -0.614197

In [69]:
df.iloc[[1,3],[2,3]]

          c         d
b -2.188643  0.384302
d -1.546094 -0.540959

In [73]:
df.loc[['b','c'],['a','c']]

          a         c
b -0.184716 -2.188643
c -0.318490 -1.263465

In [107]:
[df.values <=0]

[array([[ True, False, False,  True,  True],
        [ True, False,  True, False, False],
        [ True, False,  True, False,  True],
        [False,  True,  True,  True,  True]])]

In [111]:
df.values[df.values <=0]

array([-0.03848195, -0.47343318, -0.56505198, -0.18471608, -2.18864285,
       -0.31848986, -1.26346452, -1.02352072, -1.42512397, -1.54609445,
       -0.54095904, -0.61419718])

In [113]:
type(df.values[df.values <=0])

numpy.ndarray

In [121]:
df.values[df.iloc[0:5]<0]

array([-0.03848195, -0.47343318, -0.56505198, -0.18471608, -2.18864285,
       -0.31848986, -1.26346452, -1.02352072, -1.42512397, -1.54609445,
       -0.54095904, -0.61419718])

In [129]:
 for i in df.index:
     print(i)

a
b
c
d

In [131]:
for j in df.columns:
    print(j)

a
b
c
d
e

In [135]:
for i in df.index:
    for j in df.columns:
        if df.loc[i, j] < 0:  # Correct way to access elements
            print(i, j, df.loc[i, j])

a a -0.03848194789311186
a d -0.47343317766297033
a e -0.5650519788244609
b a -0.18471607735600937
b c -2.1886428516738845
c a -0.3184898610835709
c c -1.2634645186752191
c e -1.0235207164744533
d b -1.425123970777239
d c -1.5460944463552988
d d -0.5409590417710598
d e -0.6141971781345176

In [147]:
import math 
math.log10(2)

0.3010299956639812

In [149]:
math.log2(2)

1.0

In [151]:
math.log(2)

0.6931471805599453

In [153]:
math.log1p(2)

1.0986122886681098

In [155]:
np.arange(1,5)

array([1, 2, 3, 4])

In [159]:
d = np.arange(1.5,5,0.6)

In [163]:
d.reshape(2,3)

array([[1.5, 2.1, 2.7],
       [3.3, 3.9, 4.5]])

In [167]:
np.linspace(2,4,5)

array([2. , 2.5, 3. , 3.5, 4. ])

In [173]:
np.logspace(2,3)

array([ 100.        ,  104.81131342,  109.8541142 ,  115.13953993,
        120.67926406,  126.48552169,  132.57113656,  138.94954944,
        145.63484775,  152.64179672,  159.98587196,  167.68329368,
        175.75106249,  184.20699693,  193.06977289,  202.35896477,
        212.09508879,  222.29964825,  232.99518105,  244.20530945,
        255.95479227,  268.26957953,  281.1768698 ,  294.70517026,
        308.88435965,  323.74575428,  339.32217719,  355.64803062,
        372.75937203,  390.69399371,  409.49150624,  429.19342601,
        449.8432669 ,  471.48663635,  494.17133613,  517.94746792,
        542.86754393,  568.9866029 ,  596.36233166,  625.05519253,
        655.12855686,  686.648845  ,  719.685673  ,  754.31200634,
        790.60432109,  828.64277285,  868.51137375,  910.29817799,
        954.09547635, 1000.        ])

In [175]:
arr = np.random.randint(2,100,(4,4))

In [177]:
arr

array([[45, 17, 88, 85],
       [60, 27, 68, 76],
       [37, 98, 58, 15],
       [62, 24, 40, 33]])

In [179]:
arr[:,[1,2]]

array([[17, 88],
       [27, 68],
       [98, 58],
       [24, 40]])

In [191]:
arr[:2,:2]

array([[45, 17],
       [60, 27]])

In [205]:
df= pd.DataFrame(np.random.rand(8,5),index = range(8),columns=['a','b','c','d','e'])

In [207]:
df

          a         b         c         d         e
0  0.759282  0.272440  0.465636  0.724480  0.082832
1  0.849127  0.720649  0.990482  0.445845  0.253202
2  0.160920  0.870727  0.687740  0.380203  0.228233
3  0.781706  0.974815  0.880240  0.253356  0.627126
4  0.494852  0.072941  0.545279  0.871609  0.030062
5  0.088825  0.314704  0.007228  0.185492  0.874363
6  0.187282  0.637876  0.645924  0.182989  0.644722
7  0.139818  0.676880  0.940316  0.315917  0.078241

In [213]:
df['new'] = df['c'] + df['d']

In [215]:
df

          a         b         c         d         e       new
0  0.759282  0.272440  0.465636  0.724480  0.082832  1.190116
1  0.849127  0.720649  0.990482  0.445845  0.253202  1.436326
2  0.160920  0.870727  0.687740  0.380203  0.228233  1.067943
3  0.781706  0.974815  0.880240  0.253356  0.627126  1.133596
4  0.494852  0.072941  0.545279  0.871609  0.030062  1.416888
5  0.088825  0.314704  0.007228  0.185492  0.874363  0.192720
6  0.187282  0.637876  0.645924  0.182989  0.644722  0.828913
7  0.139818  0.676880  0.940316  0.315917  0.078241  1.256233

In [225]:
df['log'] = df['e'].apply(np.log10)

In [227]:
df

          a         b         c         d         e       new       log
0  0.759282  0.272440  0.465636  0.724480  0.082832  1.190116 -1.081803
1  0.849127  0.720649  0.990482  0.445845  0.253202  1.436326 -0.596533
2  0.160920  0.870727  0.687740  0.380203  0.228233  1.067943 -0.641622
3  0.781706  0.974815  0.880240  0.253356  0.627126  1.133596 -0.202645
4  0.494852  0.072941  0.545279  0.871609  0.030062  1.416888 -1.521983
5  0.088825  0.314704  0.007228  0.185492  0.874363  0.192720 -0.058308
6  0.187282  0.637876  0.645924  0.182989  0.644722  0.828913 -0.190628
7  0.139818  0.676880  0.940316  0.315917  0.078241  1.256233 -1.106566

In [229]:
df['vi'] = df['a'].apply(lambda x : x**2)

In [231]:
df

,a,b,c,d,e,new,log,vi
0,0.759282,0.272440,0.465636,0.724480,0.082832,1.190116,-1.081803,0.576510
1,0.849127,0.720649,0.990482,0.445845,0.253202,1.436326,-0.596533,0.721017
2,0.160920,0.870727,0.687740,0.380203,0.228233,1.067943,-0.641622,0.025895
3,0.781706,0.974815,0.880240,0.253356,0.627126,1.133596,-0.202645,0.611064
4,0.494852,0.072941,0.545279,0.871609,0.030062,1.416888,-1.521983,0.244878
5,0.088825,0.314704,0.007228,0.185492,0.874363,0.192720,-0.058308,0.007890
6,0.187282,0.637876,0.645924,0.182989,0.644722,0.828913,-0.190628,0.035075
7,0.139818,0.676880,0.940316,0.315917,0.078241,1.256233,-1.106566,0.019549

In [239]:
df.rename('vinay',inplace=True)

0    0.759282
1    0.849127
2    0.160920
3    0.781706
4    0.494852
5    0.088825
6    0.187282
7    0.139818
Name: vinay, dtype: float64

In [241]:
df

,a,b,c,d,e,new,log,vi
0,0.759282,0.272440,0.465636,0.724480,0.082832,1.190116,-1.081803,0.576510
1,0.849127,0.720649,0.990482,0.445845,0.253202,1.436326,-0.596533,0.721017
2,0.160920,0.870727,0.687740,0.380203,0.228233,1.067943,-0.641622,0.025895
3,0.781706,0.974815,0.880240,0.253356,0.627126,1.133596,-0.202645,0.611064
4,0.494852,0.072941,0.545279,0.871609,0.030062,1.416888,-1.521983,0.244878
5,0.088825,0.314704,0.007228,0.185492,0.874363,0.192720,-0.058308,0.007890
6,0.187282,0.637876,0.645924,0.182989,0.644722,0.828913,-0.190628,0.035075
7,0.139818,0.676880,0.940316,0.315917,0.078241,1.256233,-1.106566,0.019549

In [263]:
import pandas as pd
df.index =pd.date_range('2025-01-09',periods=len(df))

In [265]:
df

,a,b,c,d,e,new,log,vi
2025-01-09,0.759282,0.272440,0.465636,0.724480,0.082832,1.190116,-1.081803,0.576510
2025-01-10,0.849127,0.720649,0.990482,0.445845,0.253202,1.436326,-0.596533,0.721017
2025-01-11,0.160920,0.870727,0.687740,0.380203,0.228233,1.067943,-0.641622,0.025895
2025-01-12,0.781706,0.974815,0.880240,0.253356,0.627126,1.133596,-0.202645,0.611064
2025-01-13,0.494852,0.072941,0.545279,0.871609,0.030062,1.416888,-1.521983,0.244878
2025-01-14,0.088825,0.314704,0.007228,0.185492,0.874363,0.192720,-0.058308,0.007890
2025-01-15,0.187282,0.637876,0.645924,0.182989,0.644722,0.828913,-0.190628,0.035075
2025-01-16,0.139818,0.676880,0.940316,0.315917,0.078241,1.256233,-1.106566,0.019549